{% extends "base.html" %}

{% load static %}
{% block content %}

    <section class="bg-center bg-no-repeat bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/conference.jpg')] bg-gray-700 bg-blend-multiply">
        <div class="px-4 mx-auto max-w-screen-xl text-center lg:py-44 py-14 ">
            <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">This is a simple blog with Django framework</h1>
            <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">The powerful Django framework and Tailwind CSS have been used to build this blog.</p>
            <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
                <a href="{% url 'all_post' %}" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                    Explore posts
                    <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
                <a href="{% url 'all_author' %}" class="inline-flex justify-center hover:text-gray-900 items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg border border-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-400">
                    Our teams
                </a>
            </div>
        </div>
    </section>

    <section class="container mx-auto bg-white dark:bg-gray-900">

    <div class="flex justify-center mb-4 mt-4">
        <h1 class="text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-3xl lg:text-3xl dark:text-white">The latest <span class="underline underline-offset-3 decoration-2 decoration-blue-700 dark:decoration-blue-600"> Content</span></h1>
    </div>
    {# POSTS #}
    <div class="grid mt-8 gap-5 dark:border-gray-700 md:mb-12 md:grid-cols-3 items-center justify-center mx-auto">
        {% for post in posts %}
            <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="{% url 'post_detail' post.slug %}">
                    <img class="rounded-t-lg" src="{{ post.thumbnail.url }}" alt="" />
                </a>
                <div class="p-5">
                    <a href="{% url 'post_detail' post.slug %}">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ post.title|slice:":50" }}</h5>
                    </a>
                    <span class="bg-blue-100 text-blue-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400">
                        <svg class="w-2.5 h-2.5 mr-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm3.982 13.982a1 1 0 0 1-1.414 0l-3.274-3.274A1.012 1.012 0 0 1 9 10V6a1 1 0 0 1 2 0v3.586l2.982 2.982a1 1 0 0 1 0 1.414Z"/>
                        </svg>
                        {{ post.published_at|date:"d M Y" }}
                    </span>
                    <p class="mb-3 mt-2 font-normal text-gray-700 dark:text-gray-400">{{ post.summary|slice:":200" }}</p>
                    <div class="mb-3">
                        {% for tag in post.tag.all %}
                            <a href="#">
                                <span class="bg-blue-100 text-blue-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300">{{ tag.title }}</span>
                            </a>
                        {% endfor %}
                    </div>
                    <div class="flex justify-between mt-5">
                        <div class="flex items-center space-x-4">
                            {% if post.author.profile.avatar %}
                                <img class="w-8 h-8 rounded-full" src="{{ post.author.profile.avatar.url }}" alt="">
                            {% else %}
                                <img class="w-8 h-8 rounded-full" src="{% static 'images/default-Profile-Picture.png' %}" alt="">
                            {% endif %}
                            <div class="text-sm dark:text-white">
                                <a href="{% url 'author_detail' post.author.id %}" class="font-bold text-blue-600/100 dark:text-blue-500/100">{{ post.author.first_name }}</a>
                                <div class="font-medium text-gray-500 dark:text-gray-400">Joined in {{ post.author.date_joined|date:"M Y" }}</div>
                            </div>
                        </div>
                        <a href="{% url 'post_detail' post.slug %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Read more
                             <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>

        <div class="grid md:grid-cols-3 gap-8">
            <div class="rounded-lg p-4 md:p-8">

                <div class="flex justify-center mb-4">
                    <h1 class="text-2xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">Category of <span class="underline underline-offset-3 decoration-2 decoration-blue-700 dark:decoration-blue-600"> Content</span></h1>
                </div>
                <ul class="max-w-md divide-y divide-gray-200 dark:divide-gray-700">
                  {% for category in categories %}
                   <li class="py-3 sm:py-4">
                      <div class="flex justify-between items-center space-x-4">
                          <a href="#">
                            <span class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">{{ category.title }}</span>
                          </a>

                         <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                            <span class="bg-green-100 text-green-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400">
                                <svg class="w-3 h-3 mr-1.5 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                                    <path d="M16 1h-3.278A1.992 1.992 0 0 0 11 0H7a1.993 1.993 0 0 0-1.722 1H2a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2Zm-3 14H5a1 1 0 0 1 0-2h8a1 1 0 0 1 0 2Zm0-4H5a1 1 0 0 1 0-2h8a1 1 0 1 1 0 2Zm0-5H5a1 1 0 0 1 0-2h2V2h4v2h2a1 1 0 1 1 0 2Z"/>
                                </svg>
                                 {{ category.post_set.count }} post{{ category.post_set.count|pluralize }}
                            </span>

                         </div>
                      </div>
                   </li>
                  {% endfor %}
                </ul>
            </div>
            <div class=" rounded-lg p-4 md:p-8">
                <div class="flex justify-center mb-4">
                    <h1 class="text-2xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">The latest <span class="underline underline-offset-3 decoration-2 decoration-blue-700 dark:decoration-blue-600"> Comments</span></h1>
                </div>

                <ul class="max-w-md divide-y divide-gray-200 dark:divide-gray-700">
                    {% for comment in comments %}
                        <li class="py-3 sm:py-4">
                          <div class="flex items-center space-x-4">
                             <div class="flex-shrink-0">
                                <img class="w-8 h-8 rounded-full"
                                    {% if comment.user.profile.avatar %}
                                        src="{{ comment.user.profile.avatar.url }}"
                                    {% else %}
                                        src="{% static 'images/default-Profile-Picture.png' %}"
                                    {% endif %}
                                     alt="Neil image">
                             </div>
                             <div class="flex-1 min-w-0">
                                <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                    <a href="{% url 'author_detail' comment.user.id %}">
                                        {{ comment.user.first_name }}
                                    </a>
                                </p>
                                <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                    <a href="{% url 'post_detail' comment.post.slug %}">{{ comment.content }}</a>
                                </p>
                             </div>

                          </div>
                       </li>
                    {% endfor %}
                </ul>


            </div>

            <div class="mx-auto rounded-lg p-4 md:p-8">
                <div class="flex justify-center mb-4">
                    <h1 class="text-2xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">Our <span class="underline underline-offset-3 decoration-2 decoration-blue-700 dark:decoration-blue-600"> Teams</span></h1>
                </div>
                <ul class="max-w-md divide-y divide-gray-200 dark:divide-gray-700">
                    {% for author in authors %}
                        <li class="py-3 sm:py-4">
                          <div class="flex items-center space-x-4">
                             <div class="flex-shrink-0">
                                <img class="w-8 h-8 rounded-full"
                                    {% if author.profile.avatar %}
                                        src="{{ author.profile.avatar.url }}"
                                    {% else %}
                                        src="{% static 'images/default-Profile-Picture.png' %}"
                                    {% endif %}
                                     alt="Neil image">
                             </div>
                             <div class="flex-1 min-w-0">
                                <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                    <a href="{% url 'author_detail' author.id %}">
                                        {{ author.get_full_name }}
                                    </a>
                                </p>
                                <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                   {{ author.email }}
                                </p>
                             </div>
                             <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">

                                <span class="bg-green-100 text-green-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400">

                                    <svg class="w-3 h-3 mr-1.5 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                        <path d="M5 5V.13a2.96 2.96 0 0 0-1.293.749L.879 3.707A2.96 2.96 0 0 0 .13 5H5Z"/>
                                        <path d="M6.737 11.061a2.961 2.961 0 0 1 .81-1.515l6.117-6.116A4.839 4.839 0 0 1 16 2.141V2a1.97 1.97 0 0 0-1.933-2H7v5a2 2 0 0 1-2 2H0v11a1.969 1.969 0 0 0 1.933 2h12.134A1.97 1.97 0 0 0 16 18v-3.093l-1.546 1.546c-.413.413-.94.695-1.513.81l-3.4.679a2.947 2.947 0 0 1-1.85-.227 2.96 2.96 0 0 1-1.635-3.257l.681-3.397Z"/>
                                        <path d="M8.961 16a.93.93 0 0 0 .189-.019l3.4-.679a.961.961 0 0 0 .49-.263l6.118-6.117a2.884 2.884 0 0 0-4.079-4.078l-6.117 6.117a.96.96 0 0 0-.263.491l-.679 3.4A.961.961 0 0 0 8.961 16Zm7.477-9.8a.958.958 0 0 1 .68-.281.961.961 0 0 1 .682 1.644l-.315.315-1.36-1.36.313-.318Zm-5.911 5.911 4.236-4.236 1.359 1.359-4.236 4.237-1.7.339.341-1.699Z"/>
                                    </svg>

                                    {{ author.posts.count }} post{{ author.posts.count|pluralize }}
                                </span>

                             </div>
                          </div>
                       </li>
                    {% endfor %}
                </ul>
            </div>

        </div>

    </section>

{% endblock %}